.container-buttons{
    
    .btn{
        $color: #5E5DF0;
        background: $color;
        border-radius: 999px;
        box-shadow: $color 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
        transition: all 0.2s ease-out;

        &:hover{
            $color: #a75df0;
            background: $color;
            box-shadow: $color 0 10px 20px -10px;
        }
        &:active{
            $color: #f05de1;
            background: $color;
            box-shadow: $color 0 10px 30px -10px;
        }
      }
}


